body {
    background-image: url("_imagens/termometro.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: black;
    min-height: 400px;
}
div.container {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    height: 85vh;
    padding: 20px;
}
h1 {
    font-size: 30pt;
    margin: 0 0 5px;
    text-decoration: underline;
}
h2 {
    font-size: 20pt;
    margin-top: 15px;
}
input {
    margin: 12px;
    padding: 5px;
    border-radius: 5px;
    transition: .1s;
}
input:hover {
    background-color: #888888;
    color: white;
}
button {
    margin: 6px;
    padding: 5px;
    border-radius: 8px;
    transition: .1s;
}
button:hover {
    background-color: #888888;
    color: white;
}
h3 {
    background-color: rgba(0, 0, 0, .5);
    max-width: 400px;
    margin: 10px auto;
}